includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    memoryLimit: 1G
    
    paths:
        - app
        - routes

    excludePaths:
        - database
        - bootstrap
        - storage
        - vendor

    parallel:
        maximumNumberOfProcesses: 4

