includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    
    paths:
        - app
        - routes

    scanFiles:
        - _ide_helper_models.php

    excludePaths:
        - database
        - bootstrap
        - storage
        - vendor

    parallel:
        maximumNumberOfProcesses: 4

