includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 4

    paths:
        - app
        - routes

    excludePaths:
        - database
        - bootstrap
        - storage
        - vendor

    parallel:
        maximumNumberOfProcesses: 4

    larastan:
        # Включает автоматическое определение свойств-отношений
        enable_eloquent_relationships: true
