@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
    from {
        transform: translateX(-20px);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}